@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellota&family=Cardo&family=Crete+Round&family=MuseoModerno&family=PT+Sans+Narrow&family=Rajdhani:wght@500&family=Staatliches&display=swap');


* {
	padding: 0;
	margin: 0;
	font-family: "Rajdhani";
	font-weight: normal;
	

}

html,body{
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	outline: none;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

div.clear {
	clear: both;
}
/*Menu*/
div.box-menu {
	background-color: rgb(49, 46, 61);
	height: 65px;
	width: 100%;
	border-bottom: 1px solid rgb(67, 63, 83);
	max-width: 100%;
}


/*Imagem*/
div.clear div.box-menu .link-image {
	width: 50px;
	height: 50px;
	float: left;
	border: 2px solid white;
	background-color: white;
	border-radius: 50px;
	margin: 2px 0 0 180px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition:1s;
}

div.clear div.box-menu .link-image img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition:1s;
}

/*Imagem Animação*/
div.clear div.box-menu .link-image:hover {
	transition: 0.45s;
	-webkit-transition:0.45s;
	-moz-transition:0.45s;
	width: 55px;
	height: 55px;
	
	border: 3px solid rgb(29, 25, 39);
}

div.clear div.box-menu .link-image img:hover {
	transition: 0.45s;
	-webkit-transition:0.45s;
	-moz-transition:0.45s;
	width: 55px;
	height: 55px;

}
/*Imagem Animação*/

/*Imagem*/

/*Links*/
div.clear div.box-menu a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 20px 0 0 20px;
	display: inline-block;
	font-family: "Rajdhani";
	font-weight: normal;

}
/*Links*/





/*Botão de Contato*/
div.clear div.box-menu .ct {
	float: right;
	color: white;
	text-decoration: none;
	margin: 8px 100px 0 0;
	background-color: rgb(41, 38, 51);
	padding: 10px 10px;
	border: 2px solid rgb(62, 58, 78);
	border-radius: 5px;

}
/*Botão de Contato*/

/*Menu*/


/*Vídeo*/

div.clear div.content-video video{


	height: 500px;
	width: auto;
	border: 2px solid rgb(67, 63, 83);
	margin: 0 auto;
	display:flex;

}

/*Box-Vídeo*/
div.clear div.content-video {
	height: 500px;
	width: 100%;
	background-color: rgb(29, 25, 39);
	border-bottom: 1px solid rgb(67, 63, 83);
	padding-top: 15px;
	padding-bottom: 15px;

}
/*Box-Vídeo*/

/*Vídeo*/

/*Sobre mim/Oque eu faço*/

/*Box*/
div.clear div.content-what-i-do {
	height: 500px;
	width: 100%;
	background-color: rgb(29, 25, 39);
	border-bottom: 1px solid rgb(67, 63, 83);
	font-weight: normal;
}
/*Box*/

/*Estilização do Texto*/

/*Estilização h1,a,p*/
div.clear div.content-what-i-do h1,a,p {
	text-align: center;
	font-weight: normal;
	color: white;
	font-weight: normal;
}
/*Estilização h1,a,p*/

/*Estilização h1*/
div.clear div.content-what-i-do h1 {
	padding: 30px 0 20px 0;
	font-size: 50px;
	font-weight: normal;
}
/*Estilização h1*/

/*Estilização de Destaque de Texto ("a")*/
div.clear div.content-what-i-do a,div.clear div.stack-box a,div.clear div.stack-box div.images-2 div.text-2 {
	text-decoration: none;
	color: rgb(126, 95, 218);
	font-weight: normal;
	cursor: pointer;
	transition: 1s;
	-webkit-transition:1s;
	-moz-transition:1s;

}
/*Estilização de Destaque de Texto ("a")*/

/*Estilização de Destaque de Texto ("a") Animação*/
div.clear div.content-what-i-do a:hover,div.clear div.stack-box a:hover,div.clear div.stack-box div.images-2 div.text-2:hover {
	color: rgb(185, 161, 255);
	transition: 0.75s;
	-webkit-transition:0.75s;
	-moz-transition:0.75s;
}
/*Estilização de Destaque de Texto ("a") Animação*/

/*Estilização a,p*/
div.clear div.content-what-i-do p,a{
	font-size: 20px;
	font-weight: normal;
}
/*Estilização a,p*/

/*Estilização do Texto*/

/*Stack/

/*Box-Pai*/
div.clear div.stack-box {
	height: 1400px;
	width: 100%;
	background-color: rgb(29, 25, 39);
	font-weight: normal;
	transition: 2s;
	-webkit-transition:2s;
	-moz-transition:2s;
	

}
/*Box-Pai*/

/*Estilização */

/*Estilização h1*/
div.clear div.stack-box h1 {
	text-align: center;
	font-weight: normal;
	color: white;
	padding: 30px 0 10px 0;
	font-size: 50px;

}
/*Estilização h1*/

/*Estilização a,p*/
div.clear div.stack-box div.text-1 p,a{
	font-size: 20px;
	font-weight: normal;
}
/*Estilização a,p*/

/*Estilização h2*/
div.clear div.stack-box h2{
	text-align: center;
	color: white;
	padding: 40px 0 40px 0;
	font-size: 50px;
	font-weight: normal;

}
/*Estilização h2*/

/*Box-Filho*/
.html,.css,.javascript,.bootstrap,.Jquery,.Materialize,.ReactNative,.less{
	width: 250px;
	height: 250px;
	border: 2px solid rgb(90, 85, 107);
	border-radius: 10px;
	background: linear-gradient(rgb(67, 63, 83), rgb(29, 25, 39));
	transition: 0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	display:block;
	-webkit-display:block;
	
}

/*Box-Filho-Animação*/
.html:hover,.css:hover,.javascript:hover,.bootstrap:hover,.Jquery:hover,.Materialize:hover,.ReactNative:hover,.less:hover {
	background: linear-gradient(rgb(39, 36, 49), rgb(135, 122, 177));
}
/*Box-Filho*/

/*Box-Filho*/

/*Box-Filho-HTML*/
.html {
	
	float: left;
	margin-left:100px;
}

div.clear div.stack-box div.images-1 div.html img {
	width: 150px;
	height: 150px;
	padding: 10px 0 0 50px;
}
/*Box-Filho-HTML*/

/*Box-Filho-Java*/
.javascript{
	float: right;
	margin-right:100px;

}

div.clear div.stack-box div.images-1 div.javascript img {
	width: 150px;
	height: 150px;
	padding: 5px 0 0 50px;
}
/*Box-Filho-Java*/

/*Box-Filho-Css*/
.css {
	margin:0 auto;
}

div.clear div.stack-box div.images-1 div.css img {
	width: 105px;
	height: 150px;
	padding: 10px 0 0 70px;
}

/*Box-Filho-Css*/








/*Botão-Box-Filho*/
.link-image{
	background-color: rgb(44, 41, 59);
	border: 2px solid rgb(53, 47, 70);
	color: rgb(79, 66, 116);
	text-decoration: none;
	font-size: 20px;
	border-radius: 20px;
	font-weight: normal;
	transition: 0.50s;
	-webkit-transition:0.50s;
	-moz-transition:0.50s;
	display: flex;
	justify-content: center;
	margin:10px 20px;
}	

/*Botão-Box-Filho-Animação*/
.link-image{
	font-size: 25px;
	transition: linear 0.25s;
	-webkit-transition:linear 0.25s;
	-moz-transition:linear 0.25s;
	color: rgb(124, 97, 199);
	transition: 0.50s;
	-webkit-transition:0.50s;
	-moz-transition:0.50s;
}
/*Botão-Box-Filho-Animação*/

/*Botão-Box-Filho*/

/*Estilização Texto da Image-2*/

/*Estilização Texto da Image-2-span*/
div.clear div.stack-box div.images-2 span {

	text-decoration: none;
	color: rgb(126, 95, 218);
	font-weight: normal;
	transition: 1s;
	-webkit-transition:1s;
	-moz-transition:1s;
}

/*Estilização Texto da Image-2-span-animação*/
div.clear div.stack-box div.images-2 span:hover {
	color: rgb(185, 161, 255);
	transition: 0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;

}
/*Estilização Texto da Image-2-span-animação*/

/*Estilização Texto da Image-2-span*/

/*Estilização Texto da Image-2-span,p*/
div.clear div.stack-box div.images-2 span,p{
	font-size: 20px;
	margin-bottom: 60px;
	font-weight: normal;
}
/*Estilização Texto da Image-2-span,p*/

/*Estilização Texto da Image-2*/

.bootstrap {
	margin-left: 200px;
	float: left;
}

.bootstrap img {
	width: 150px;
	height: 150px;
	padding-left: 50px;
	padding-top: 10px;
}

.Jquery {
	float: right;
	margin-right: 200px;
}

.Jquery img {
	width: 150px;
	height: 150px;
	padding-left: 50px;
	padding-top: 10px;
}

.Materialize {
	margin: 0 auto;
}

.Materialize img {
	width: 150px;
	height: 150px;
	padding-left: 50px;
	padding-top: 10px;
}

.ReactNative {
	float: left;
	margin-left: 380px;
	margin-top: 20px;
}

.ReactNative img {
	width: 150px;
	height: 150px;
	padding-left: 50px;
	padding-top: 10px;
}

.less {
	float: right;
	margin-right: 380px;
	margin-top: 20px;
}

.less img {
	width: 140px;
	height: 140px;
	padding-left: 55px;
	padding-top: 20px;
}
/*Estilização h1*/

div.clear div.contato {

	width: 100%;
	height: 110px;
	background-color: rgb(49, 46, 61);
	border-top: 2px solid rgb(67, 63, 83);
}

div.clear div.contato span {
	color: white;
	
	font-weight: normal;
	float: left;
	position: relative;
	left: 120px;
	top: 10px;


}

div.clear div.contato input[type=text] {
	margin-top: 30px;
	color: white;
	float: left;
	padding: 10px 20px;
	border-left: 2px solid rgb(67, 63, 83);
	border-top: 2px solid rgb(67, 63, 83);
	border-bottom: 2px solid rgb(67, 63, 83);
	background-color: rgb(41, 38, 51);
	
	font-weight: normal;
	outline: none;
	border-radius: 5px;
	border: 2px solid rgb(62, 58, 78);

}

div.clear div.contato input[type=submit] {
	margin-top: 30px;
	padding: 10px;
	background-color: rgb(41, 38, 51);
	
	font-weight: normal;
	color: white;
	border-radius: 5px;
	border: 2px solid rgb(62, 58, 78);
	margin-left: 5px;
	outline: none;
	cursor: pointer;
}

div.clear div.whats-insta {
	float: right;

}

div.clear div.whats-insta div.whatsapp img,div.clear div.whats-insta div.instagram img,div.clear div.whats-insta div.github img {
	width: 40px;
	height: 40px;
	float: left;
	padding: 0 15px;

}

div.clear div.whats-insta div.whatsapp img {
	margin-top: 32px;
	position: relative;
	left: 20px;
}

div.clear div.whats-insta div.instagram img {
	position: relative;
	margin-top: 32px;
}

div.clear div.whats-insta div.github img {
	margin-top:30px;
	margin-left:-20px;

}

.top-tittle {
	color: white;
	
	font-weight: normal;
	float: left;
	position: relative;
	bottom: 100px;
	left: 1020px;
}


.advise {
	color: white;
	float: left;
	position: relative;
	margin-right:200px;

	
}

.ct2 {
	font-size: 15px;
	float: left;
	margin-top: 30px;
	padding: 9px;
	background-color: rgb(41, 38, 51);
	
	font-weight: normal;
	color: white;
	border-radius: 5px;
	border: 2px solid rgb(62, 58, 78);
	margin-left: 5px;
	outline: none;
	cursor: pointer;
	position: relative;
	bottom: 110px;
	right: 385px;
	text-decoration: none;
}

@media screen and (max-width:940px){
	div.box-menu {
		background-color: rgb(49, 46, 61);
		height:150px;
		width: 100%;
		border-bottom: 1px solid rgb(67, 63, 83);
		max-width: 100%;
	
	}
	div.clear div.box-menu .link-image{
		width: 50px;
		height:50px;
		border: 2px solid white;
		background-color: white;
		border-radius: 50px;
		margin:50px 0 0 200px;
		transition: 1s;
		-webkit-transition:1s;
		-moz-transition:1s;
		position: absolute;
		top:-40px;
		left:2px;
		
	}
	div.clear div.box-menu a {
		color: white;
		font-weight: bold;
		text-decoration: none;
		margin: 20px 0px 0 60px;
		display: inline-block;
		font-family: "Rajdhani";
		font-weight: normal;
		position: relative;
		top:50px;
		width:auto;
		font-size:15px;
		
	}

	.ct{
		position: relative;
		right:80px;
	}

	div.clear div.content-video video {


		height:auto;
		width:420px;
		border: 2px solid rgb(67, 63, 83);
		margin: 0 auto;
		display: flex;
		

	}
	div.clear div.content-video{
		height:250px;
	}

	div.clear div.content-what-i-do {
		height:800px;
		width: 100%;
		background-color: rgb(29, 25, 39);
		border-bottom: 1px solid rgb(67, 63, 83);
		font-weight: normal;
	}

	.html,.css,.javascript,.bootstrap,.Jquery,.Materialize,.ReactNative,.less{
		float: none;
		margin: 30px auto;
	}

	div.clear div.stack-box {
		height:3000px;
		width: 100%;
		background-color: rgb(29, 25, 39);
		font-weight: normal;
		transition: 2s;
		-webkit-transition:2s;
		-moz-transition:2s;


	}

		div.clear div.contato {

			width: 100%;
			height: 200px;
			background-color: rgb(49, 46, 61);
			border-top: 2px solid rgb(67, 63, 83);
		}
	
	.advise{
		position: relative;
		bottom:150px;
		font-size:10px;
		left:10px;
	}	
	
	div.clear div.contato input[type=text] {
		margin-top: 30px;
		color: white;
		float: left;
		padding: 10px 20px;
		border-left: 2px solid rgb(67, 63, 83);
		border-top: 2px solid rgb(67, 63, 83);
		border-bottom: 2px solid rgb(67, 63, 83);
		background-color: rgb(41, 38, 51);
		position: relative;
		font-weight: normal;
		outline: none;
		border-radius: 5px;
		border: 2px solid rgb(62, 58, 78);
		left:-105px;

	}

	div.clear div.contato input[type=submit] {
		margin-top: 30px;
		padding: 10px;
		background-color: rgb(41, 38, 51);

		font-weight: normal;
		color: white;
		border-radius: 5px;
		border: 2px solid rgb(62, 58, 78);
		margin-left: 5px;
		outline: none;
		cursor: pointer;
		position: relative;
		left: -105px;

	}

	.top-tittle{
		position: relative;
		bottom:100px;
	}
	div.clear div.contato span {
		color: white;
		font-weight: normal;
		float: left;
		position: relative;
		left: 12px;
		top: 10px;
	}

	.top-tittle {
		color: white;
		font-weight: normal;
		float: left;
		position: relative;
		bottom: 100px;
		left: 12px;
	}

	.whatsapp,.instagram,.github{
		position: relative;
		right:110px;
	}
	



}

@media screen and (max-width:1309px){
div.box-menu {
	background-color: rgb(49, 46, 61);
	height:150px;
	width: 100%;
	border-bottom: 1px solid rgb(67, 63, 83);
	max-width: 100%;
	transition:2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;

}

div.clear div.box-menu .link-image {
	width: 50px;
	height: 50px;
	float: left;
	border: 2px solid white;
	background-color: white;
	border-radius: 50px;
	margin: 50px 0 0 190px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}

div.clear div.box-menu .link-image img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}
/*Imagem Animação*/
div.clear div.box-menu .link-image:hover {
	transition: 0.45s;
	-webkit-transition: 0.45s;
	-moz-transition: 0.45s;
	width: 55px;
	height: 55px;
	border: 3px solid rgb(29, 25, 39);

	display: block;
}

div.clear div.box-menu .link-image img:hover {
	transition: 0.45s;
	-webkit-transition: 0.45s;
	-moz-transition: 0.45s;
	width: 55px;
	height: 55px;

}

/*Imagem Animação*/

/*Imagem*/

/*Links*/
div.clear div.box-menu a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin: 20px 0px 0 60px;
	display: inline-block;
	font-family: "Rajdhani";
	font-weight: normal;

}

/*Links*/





/*Botão de Contato*/
div.clear div.box-menu .ct {
	float: right;
	color: white;
	text-decoration: none;
	margin: 8px 90px 0 0;
	background-color: rgb(41, 38, 51);
	padding: 10px 10px;
	border: 2px solid rgb(62, 58, 78);
	border-radius: 5px;

}

/*Botão de Contato*/

div.clear div.content-video video {


	height: auto;
	width: 420px;
	border: 2px solid rgb(67, 63, 83);
	margin: 0 auto;
	display: flex;


}

div.clear div.content-video {
	height: 250px;
}

div.clear div.content-what-i-do {
	height: 800px;
	width: 100%;
	background-color: rgb(29, 25, 39);
	border-bottom: 1px solid rgb(67, 63, 83);
	font-weight: normal;
}

.html,
.css,
.javascript,
.bootstrap,
.Jquery,
.Materialize,
.ReactNative,
.less {
	float: none;
	margin: 30px auto;
}

div.clear div.stack-box {
	height: 3000px;
	width: 100%;
	background-color: rgb(29, 25, 39);
	font-weight: normal;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;


}

div.clear div.contato {

	width: 100%;
	height: 200px;
	background-color: rgb(49, 46, 61);
	border-top: 2px solid rgb(67, 63, 83);
}

.advise {
	position: relative;
	bottom: 150px;
	font-size: 10px;
	left: 10px;
}

div.clear div.contato input[type=text] {
	margin-top: 30px;
	color: white;
	float: left;
	padding: 10px 20px;
	border-left: 2px solid rgb(67, 63, 83);
	border-top: 2px solid rgb(67, 63, 83);
	border-bottom: 2px solid rgb(67, 63, 83);
	background-color: rgb(41, 38, 51);
	position: relative;
	font-weight: normal;
	outline: none;
	border-radius: 5px;
	border: 2px solid rgb(62, 58, 78);
	left: -105px;

}

div.clear div.contato input[type=submit] {
	margin-top: 30px;
	padding: 10px;
	background-color: rgb(41, 38, 51);

	font-weight: normal;
	color: white;
	border-radius: 5px;
	border: 2px solid rgb(62, 58, 78);
	margin-left: 5px;
	outline: none;
	cursor: pointer;
	position: relative;
	left: -105px;

}

.top-tittle {
	position: relative;
	bottom: 100px;
}

div.clear div.contato span {
	color: white;
	font-weight: normal;
	float: left;
	position: relative;
	left: 12px;
	top: 10px;
}

.top-tittle {
	color: white;
	font-weight: normal;
	float: left;
	position: relative;
	bottom: 100px;
	left: 12px;
}

.whatsapp,
.instagram,
.github {
	position: relative;
	right: 110px;
}
}